.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 10px 64px;
    align-items: center;
    background-color: rgb(51,53,69);
}
.links li
{
  display: inline-block;
  margin: 0px 15px;
  
}
.links a
{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: bolder;
  
}
.links a:hover
{
   /* text-decoration: underline; */
   border-bottom: 2px solid;
   color:red;
   
}
.links button{
  background-color: rgb(248,68,100);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 15px;
}